### Definición

Siento que es necesario para nosotros saber cuanto ha aumentado la temperatura en las ciudades de "Mexico City" y "Monterrey", aunque la seria solo llega hasta el 2020 tal vez lo mejor o lógico sea predecir 5 años para que abarque a nuestra actualidad pero no creo que sea tn eficiente entoces tal vez lo mas optimo sea que pueda hacer una predicción de uno o dos años. Estos datos son importantes para mantenerno al tanto de la temperatura de nuestro país.

In [1]:
library(tidyverse)
library(fable)
library(tsibble)
library(readxl)
library(ggplot2)
library(tidyquant)
library(lubridate)

-- Attaching core tidyverse packages ------------------------ tidyverse 2.0.0 --
v dplyr     1.1.4     v readr     2.1.5
v forcats   1.0.0     v stringr   1.5.0
v ggplot2   3.4.2     v tibble    3.2.1
v lubridate 1.9.3     v tidyr     1.3.1
v purrr     1.0.2
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
i Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
Loading required package: fabletools


Attaching package: 'tsibble'


The following object is masked from 'package:lubridate':

    interval


The following objects are masked from 'package:base':

    intersect, setdiff, union


Loading required package: PerformanceAnalytics

Loading required package: xts

Loading required package: zoo


Attaching package: 'zoo'


The following object is masked from 'package:tsibble':

    index


The following objects are masked from 'package:base':

    as.Date, as.Date.numeric



######################### Warning from 'xts' package ##########################
#                                                                             #
# The dplyr lag() function breaks how base R's lag() function is supposed to  #
# work, which breaks lag(my_xts). Calls to lag(my_xts) that you type or       #
# source() into this session won't work correctly.                            #
#                                                                             #
# Use stats::lag() to make sure you're not using dplyr::lag(), or you can add #
# conflictRules('dplyr', exclude = 'lag') to your .Rprofile to stop           #
# dplyr from breaking base R's lag() function.                                #
#                                                                             #
# Code in packages is not affected. It's protected by R's namespace mechanism #
# Set `options(xts.warn_dplyr_breaks_lag = FALSE)` to suppress this warning.  #
#                                                                             #
###############################################################################


Attaching package: 'xts'


The following objects are masked from 'package:dplyr':

    first, last



Attaching package: 'PerformanceAnalytics'


The following object is masked from 'package:graphics':

    legend


Loading required package: quantmod

Loading required package: TTR

Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo


Attaching package: 'tidyquant'


The following object is masked from 'package:fable':

    VAR

In [2]:
df <- read_csv("city_temperature.csv")
df

Rows: 2906327 Columns: 8
-- Column specification --------------------------------------------------------
Delimiter: ","
chr (4): Region, Country, State, City
dbl (4): Month, Day, Year, AvgTemperature

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

        Region        Country State                  City                 Month
1       Africa        Algeria NA                     Algiers              1
2       Africa        Algeria NA                     Algiers              1
3       Africa        Algeria NA                     Algiers              1
4       Africa        Algeria NA                     Algiers              1
5       Africa        Algeria NA                     Algiers              1
6       Africa        Algeria NA                     Algiers              1
7       Africa        Algeria NA                     Algiers              1
8       Africa        Algeria NA                     Algiers              1
9       Africa        Algeria NA                     Algiers              1
10      Africa        Algeria NA                     Algiers              1
11      Africa        Algeria NA                     Algiers              1
12      Africa        Algeria NA                     Algiers              1
13      Africa        Algeria NA                     Algiers              1
14      Africa        Algeria NA                     Algiers              1
15      Africa        Algeria NA                     Algiers              1
16      Africa        Algeria NA                     Algiers              1
17      Africa        Algeria NA                     Algiers              1
18      Africa        Algeria NA                     Algiers              1
19      Africa        Algeria NA                     Algiers              1
20      Africa        Algeria NA                     Algiers              1
21      Africa        Algeria NA                     Algiers              1
22      Africa        Algeria NA                     Algiers              1
23      Africa        Algeria NA                     Algiers              1
24      Africa        Algeria NA                     Algiers              1
25      Africa        Algeria NA                     Algiers              1
26      Africa        Algeria NA                     Algiers              1
27      Africa        Algeria NA                     Algiers              1
28      Africa        Algeria NA                     Algiers              1
29      Africa        Algeria NA                     Algiers              1
30      Africa        Algeria NA                     Algiers              1
...     ...           ...     ...                    ...                  ...
2906298 North America US      Additional Territories San Juan Puerto Rico 7
2906299 North America US      Additional Territories San Juan Puerto Rico 7
2906300 North America US      Additional Territories San Juan Puerto Rico 7
2906301 North America US      Additional Territories San Juan Puerto Rico 7
2906302 North America US      Additional Territories San Juan Puerto Rico 7
2906303 North America US      Additional Territories San Juan Puerto Rico 7
2906304 North America US      Additional Territories San Juan Puerto Rico 7
2906305 North America US      Additional Territories San Juan Puerto Rico 7
2906306 North America US      Additional Territories San Juan Puerto Rico 7
2906307 North America US      Additional Territories San Juan Puerto Rico 7
2906308 North America US      Additional Territories San Juan Puerto Rico 7
2906309 North America US      Additional Territories San Juan Puerto Rico 7
2906310 North America US      Additional Territories San Juan Puerto Rico 7
2906311 North America US      Additional Territories San Juan Puerto Rico 7
2906312 North America US      Additional Territories San Juan Puerto Rico 7
2906313 North America US      Additional Territories San Juan Puerto Rico 7
2906314 North America US      Additional Territories San Juan Puerto Rico 7
2906315 North America US      Additional Territories San Juan Puerto Rico 7
2906316 North America US      Additional Territories San Juan Puerto Rico 7
2906317 North America US      Additional Territories San Juan Puerto Rico 7
2906318 North America US      Additional Territories San Juan Puerto Rico 7
2906319 North America US      Additional Territories San Juan Puerto Rico 7
2906320 North America US      Additional Territories San Juan Puerto Rico 7
2906321 North America US      Additional Territories San Juan Puerto Rico 7
2906322 North America US      Additional Territories San Juan Puerto Rico 7
2906323 North America US      Additional Territories San Juan Puerto Rico 7
2906324 North America US      Additional Territories San Juan Puerto Rico 7
2906325 North America US      Additional Territories San Juan Puerto Rico 7
2906326 North America US      Additional Territories San Juan Puerto Rico 7
2906327 North America US      Additional Territories San Juan Puerto Rico 7
        Day Year AvgTemperature
1        1  1995 64.2
2        2  1995 49.4
3        3  1995 48.8
4        4  1995 46.4
5        5  1995 47.9
6        6  1995 48.7
7        7  1995 48.9
8        8  1995 49.1
9        9  1995 49.0
10      10  1995 51.9
11      11  1995 51.7
12      12  1995 51.3
13      13  1995 47.0
14      14  1995 46.9
15      15  1995 47.5
16      16  1995 45.9
17      17  1995 44.5
18      18  1995 50.7
19      19  1995 54.0
20      20  1995 52.6
21      21  1995 54.2
22      22  1995 51.0
23      23  1995 53.5
24      24  1995 54.2
25      25  1995 54.2
26      26  1995 52.6
27      27  1995 55.5
28      28  1995 53.8
29      29  1995 54.3
30      30  1995 57.4
...     ... ...  ...
2906298  2  2013 80.5
2906299  3  2013 79.9
2906300  4  2013 82.8
2906301  5  2013 82.9
2906302  6  2013 82.5
2906303  7  2013 80.5
2906304  8  2013 82.6
2906305  9  2013 82.3
2906306 10  2013 82.6
2906307 11  2013 82.9
2906308 12  2013 82.6
2906309 13  2013 82.4
2906310 14  2013 79.8
2906311 15  2013 79.7
2906312 16  2013 82.6
2906313 17  2013 83.4
2906314 18  2013 78.6
2906315 19  2013 81.6
2906316 20  2013 83.4
2906317 21  2013 82.8
2906318 22  2013 80.9
2906319 23  2013 83.1
2906320 24  2013 83.2
2906321 25  2013 83.7
2906322 26  2013 82.4
2906323 27  2013 82.4
2906324 28  2013 81.6
2906325 29  2013 84.2
2906326 30  2013 83.8
2906327 31  2013 83.6

In [3]:
str(df)

spc_tbl_ [2,906,327 x 8] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ Region        : chr [1:2906327] "Africa" "Africa" "Africa" "Africa" ...
 $ Country       : chr [1:2906327] "Algeria" "Algeria" "Algeria" "Algeria" ...
 $ State         : chr [1:2906327] NA NA NA NA ...
 $ City          : chr [1:2906327] "Algiers" "Algiers" "Algiers" "Algiers" ...
 $ Month         : num [1:2906327] 1 1 1 1 1 1 1 1 1 1 ...
 $ Day           : num [1:2906327] 1 2 3 4 5 6 7 8 9 10 ...
 $ Year          : num [1:2906327] 1995 1995 1995 1995 1995 ...
 $ AvgTemperature: num [1:2906327] 64.2 49.4 48.8 46.4 47.9 48.7 48.9 49.1 49 51.9 ...
 - attr(*, "spec")=
  .. cols(
  ..   Region = col_character(),
  ..   Country = col_character(),
  ..   State = col_character(),
  ..   City = col_character(),
  ..   Month = col_double(),
  ..   Day = col_double(),
  ..   Year = col_double(),
  ..   AvgTemperature = col_double()
  .. )
 - attr(*, "problems")=<externalptr>

In [4]:
state_counts <- table(df$State)
state_counts

Additional Territories                Alabama                 Alaska
                  6787                  37060                  27795
               Arizona               Arkansas             California
                 26484                  18530                  46325
              Colorado            Connecticut               Delaware
                 37060                  18530                   5751
  District of Columbia                Florida                Georgia
                 18530                  61341                  37060
                Hawaii                  Idaho               Illinois
                  9265                  18530                  37060
               Indiana                   Iowa                 Kansas
                 37060                  18530                  27795
              Kentucky              Louisiana                  Maine
                 27795                  33593                  18530
              Maryland          Massachusetts               Michigan
                 27795                   9265                  46325
             Minnesota            Mississippi               Missouri
                 18530                  18530                  27795
               Montana               Nebraska                 Nevada
                 27794                  27795                  18530
         New Hampshire             New Jersey             New Mexico
                  9265                  18530                   9265
              New York         North Carolina           North Dakota
                 46325                  37060                  18530
                  Ohio               Oklahoma                 Oregon
                 64855                  18530                  37060
          Pennsylvania           Rhode Island         South Carolina
                 52076                   9265                  18530
          South Dakota              Tennessee                  Texas
                 18530                  37060                 129711
                  Utah                Vermont               Virginia
                  9265                   9265                  27795
            Washington          West Virginia              Wisconsin
                 27795                  18530                  27795
               Wyoming
                 18530

In [5]:
# Dropeamos la variable State
df <- subset(df, select = -State)

In [6]:
year_counts <- table(df$Year)
year_counts

   200    201   1995   1996   1997   1998   1999   2000   2001   2002   2003
    89    351 118616 118951 118656 119082 119355 119682 119355 119355 119140
  2004   2005   2006   2007   2008   2009   2010   2011   2012   2013   2014
118645 117895 117647 115428 114908 114247 115627 113740 111993 111021 109018
  2015   2016   2017   2018   2019   2020
107498 107237 106946 106698 106337  38810

In [7]:
# Filtramo para usar las filas con datos con años menos de 1995
df <- df %>%
  filter(Year >= 1995)

In [8]:
# Convertimos la temperatura registrada en Farenheit a Celsius
df$AvgTemperature <- (df$AvgTemperature - 32) / 1.8
df

        Region        Country City                 Month Day Year
1       Africa        Algeria Algiers              1      1  1995
2       Africa        Algeria Algiers              1      2  1995
3       Africa        Algeria Algiers              1      3  1995
4       Africa        Algeria Algiers              1      4  1995
5       Africa        Algeria Algiers              1      5  1995
6       Africa        Algeria Algiers              1      6  1995
7       Africa        Algeria Algiers              1      7  1995
8       Africa        Algeria Algiers              1      8  1995
9       Africa        Algeria Algiers              1      9  1995
10      Africa        Algeria Algiers              1     10  1995
11      Africa        Algeria Algiers              1     11  1995
12      Africa        Algeria Algiers              1     12  1995
13      Africa        Algeria Algiers              1     13  1995
14      Africa        Algeria Algiers              1     14  1995
15      Africa        Algeria Algiers              1     15  1995
16      Africa        Algeria Algiers              1     16  1995
17      Africa        Algeria Algiers              1     17  1995
18      Africa        Algeria Algiers              1     18  1995
19      Africa        Algeria Algiers              1     19  1995
20      Africa        Algeria Algiers              1     20  1995
21      Africa        Algeria Algiers              1     21  1995
22      Africa        Algeria Algiers              1     22  1995
23      Africa        Algeria Algiers              1     23  1995
24      Africa        Algeria Algiers              1     24  1995
25      Africa        Algeria Algiers              1     25  1995
26      Africa        Algeria Algiers              1     26  1995
27      Africa        Algeria Algiers              1     27  1995
28      Africa        Algeria Algiers              1     28  1995
29      Africa        Algeria Algiers              1     29  1995
30      Africa        Algeria Algiers              1     30  1995
...     ...           ...     ...                  ...   ... ...
2905858 North America US      San Juan Puerto Rico 7      2  2013
2905859 North America US      San Juan Puerto Rico 7      3  2013
2905860 North America US      San Juan Puerto Rico 7      4  2013
2905861 North America US      San Juan Puerto Rico 7      5  2013
2905862 North America US      San Juan Puerto Rico 7      6  2013
2905863 North America US      San Juan Puerto Rico 7      7  2013
2905864 North America US      San Juan Puerto Rico 7      8  2013
2905865 North America US      San Juan Puerto Rico 7      9  2013
2905866 North America US      San Juan Puerto Rico 7     10  2013
2905867 North America US      San Juan Puerto Rico 7     11  2013
2905868 North America US      San Juan Puerto Rico 7     12  2013
2905869 North America US      San Juan Puerto Rico 7     13  2013
2905870 North America US      San Juan Puerto Rico 7     14  2013
2905871 North America US      San Juan Puerto Rico 7     15  2013
2905872 North America US      San Juan Puerto Rico 7     16  2013
2905873 North America US      San Juan Puerto Rico 7     17  2013
2905874 North America US      San Juan Puerto Rico 7     18  2013
2905875 North America US      San Juan Puerto Rico 7     19  2013
2905876 North America US      San Juan Puerto Rico 7     20  2013
2905877 North America US      San Juan Puerto Rico 7     21  2013
2905878 North America US      San Juan Puerto Rico 7     22  2013
2905879 North America US      San Juan Puerto Rico 7     23  2013
2905880 North America US      San Juan Puerto Rico 7     24  2013
2905881 North America US      San Juan Puerto Rico 7     25  2013
2905882 North America US      San Juan Puerto Rico 7     26  2013
2905883 North America US      San Juan Puerto Rico 7     27  2013
2905884 North America US      San Juan Puerto Rico 7     28  2013
2905885 North America US      San Juan Puerto Rico 7     29  2013
2905886 North America US      San Juan Puerto Rico 7     30  2013
2905887 North America US      San Juan Puerto Rico 7     31  2013
        AvgTemperature
1       17.888889
2        9.666667
3        9.333333
4        8.000000
5        8.833333
6        9.277778
7        9.388889
8        9.500000
9        9.444444
10      11.055556
11      10.944444
12      10.722222
13       8.333333
14       8.277778
15       8.611111
16       7.722222
17       6.944444
18      10.388889
19      12.222222
20      11.444444
21      12.333333
22      10.555556
23      11.944444
24      12.333333
25      12.333333
26      11.444444
27      13.055556
28      12.111111
29      12.388889
30      14.111111
...     ...
2905858 26.94444
2905859 26.61111
2905860 28.22222
2905861 28.27778
2905862 28.05556
2905863 26.94444
2905864 28.11111
2905865 27.94444
2905866 28.11111
2905867 28.27778
2905868 28.11111
2905869 28.00000
2905870 26.55556
2905871 26.50000
2905872 28.11111
2905873 28.55556
2905874 25.88889
2905875 27.55556
2905876 28.55556
2905877 28.22222
2905878 27.16667
2905879 28.38889
2905880 28.44444
2905881 28.72222
2905882 28.00000
2905883 28.00000
2905884 27.55556
2905885 29.00000
2905886 28.77778
2905887 28.66667

In [9]:
day_counts <- table(df$Day)
day_counts

    0     1     2     3     4     5     6     7     8     9    10    11    12
    8 95649 95654 95656 95655 95653 95653 95653 95653 95653 95652 95647 95644
   13    14    15    16    17    18    19    20    21    22    23    24    25
95616 95355 95356 95352 95352 95351 95352 95349 95349 95349 95344 95344 95343
   26    27    28    29    30    31
95345 95343 95344 89367 87335 55511

In [10]:
# Convirtiendo cada renglon de día, mes y año en uno solo con los 3
df$date <- ymd(paste(df$Year, df$Month, df$Day, sep = "-"))
df

Warning message:
" 8 failed to parse."

        Region        Country City                 Month Day Year
1       Africa        Algeria Algiers              1      1  1995
2       Africa        Algeria Algiers              1      2  1995
3       Africa        Algeria Algiers              1      3  1995
4       Africa        Algeria Algiers              1      4  1995
5       Africa        Algeria Algiers              1      5  1995
6       Africa        Algeria Algiers              1      6  1995
7       Africa        Algeria Algiers              1      7  1995
8       Africa        Algeria Algiers              1      8  1995
9       Africa        Algeria Algiers              1      9  1995
10      Africa        Algeria Algiers              1     10  1995
11      Africa        Algeria Algiers              1     11  1995
12      Africa        Algeria Algiers              1     12  1995
13      Africa        Algeria Algiers              1     13  1995
14      Africa        Algeria Algiers              1     14  1995
15      Africa        Algeria Algiers              1     15  1995
16      Africa        Algeria Algiers              1     16  1995
17      Africa        Algeria Algiers              1     17  1995
18      Africa        Algeria Algiers              1     18  1995
19      Africa        Algeria Algiers              1     19  1995
20      Africa        Algeria Algiers              1     20  1995
21      Africa        Algeria Algiers              1     21  1995
22      Africa        Algeria Algiers              1     22  1995
23      Africa        Algeria Algiers              1     23  1995
24      Africa        Algeria Algiers              1     24  1995
25      Africa        Algeria Algiers              1     25  1995
26      Africa        Algeria Algiers              1     26  1995
27      Africa        Algeria Algiers              1     27  1995
28      Africa        Algeria Algiers              1     28  1995
29      Africa        Algeria Algiers              1     29  1995
30      Africa        Algeria Algiers              1     30  1995
...     ...           ...     ...                  ...   ... ...
2905858 North America US      San Juan Puerto Rico 7      2  2013
2905859 North America US      San Juan Puerto Rico 7      3  2013
2905860 North America US      San Juan Puerto Rico 7      4  2013
2905861 North America US      San Juan Puerto Rico 7      5  2013
2905862 North America US      San Juan Puerto Rico 7      6  2013
2905863 North America US      San Juan Puerto Rico 7      7  2013
2905864 North America US      San Juan Puerto Rico 7      8  2013
2905865 North America US      San Juan Puerto Rico 7      9  2013
2905866 North America US      San Juan Puerto Rico 7     10  2013
2905867 North America US      San Juan Puerto Rico 7     11  2013
2905868 North America US      San Juan Puerto Rico 7     12  2013
2905869 North America US      San Juan Puerto Rico 7     13  2013
2905870 North America US      San Juan Puerto Rico 7     14  2013
2905871 North America US      San Juan Puerto Rico 7     15  2013
2905872 North America US      San Juan Puerto Rico 7     16  2013
2905873 North America US      San Juan Puerto Rico 7     17  2013
2905874 North America US      San Juan Puerto Rico 7     18  2013
2905875 North America US      San Juan Puerto Rico 7     19  2013
2905876 North America US      San Juan Puerto Rico 7     20  2013
2905877 North America US      San Juan Puerto Rico 7     21  2013
2905878 North America US      San Juan Puerto Rico 7     22  2013
2905879 North America US      San Juan Puerto Rico 7     23  2013
2905880 North America US      San Juan Puerto Rico 7     24  2013
2905881 North America US      San Juan Puerto Rico 7     25  2013
2905882 North America US      San Juan Puerto Rico 7     26  2013
2905883 North America US      San Juan Puerto Rico 7     27  2013
2905884 North America US      San Juan Puerto Rico 7     28  2013
2905885 North America US      San Juan Puerto Rico 7     29  2013
2905886 North America US      San Juan Puerto Rico 7     30  2013
2905887 North America US      San Juan Puerto Rico 7     31  2013
        AvgTemperature date
1       17.888889      1995-01-01
2        9.666667      1995-01-02
3        9.333333      1995-01-03
4        8.000000      1995-01-04
5        8.833333      1995-01-05
6        9.277778      1995-01-06
7        9.388889      1995-01-07
8        9.500000      1995-01-08
9        9.444444      1995-01-09
10      11.055556      1995-01-10
11      10.944444      1995-01-11
12      10.722222      1995-01-12
13       8.333333      1995-01-13
14       8.277778      1995-01-14
15       8.611111      1995-01-15
16       7.722222      1995-01-16
17       6.944444      1995-01-17
18      10.388889      1995-01-18
19      12.222222      1995-01-19
20      11.444444      1995-01-20
21      12.333333      1995-01-21
22      10.555556      1995-01-22
23      11.944444      1995-01-23
24      12.333333      1995-01-24
25      12.333333      1995-01-25
26      11.444444      1995-01-26
27      13.055556      1995-01-27
28      12.111111      1995-01-28
29      12.388889      1995-01-29
30      14.111111      1995-01-30
...     ...            ...
2905858 26.94444       2013-07-02
2905859 26.61111       2013-07-03
2905860 28.22222       2013-07-04
2905861 28.27778       2013-07-05
2905862 28.05556       2013-07-06
2905863 26.94444       2013-07-07
2905864 28.11111       2013-07-08
2905865 27.94444       2013-07-09
2905866 28.11111       2013-07-10
2905867 28.27778       2013-07-11
2905868 28.11111       2013-07-12
2905869 28.00000       2013-07-13
2905870 26.55556       2013-07-14
2905871 26.50000       2013-07-15
2905872 28.11111       2013-07-16
2905873 28.55556       2013-07-17
2905874 25.88889       2013-07-18
2905875 27.55556       2013-07-19
2905876 28.55556       2013-07-20
2905877 28.22222       2013-07-21
2905878 27.16667       2013-07-22
2905879 28.38889       2013-07-23
2905880 28.44444       2013-07-24
2905881 28.72222       2013-07-25
2905882 28.00000       2013-07-26
2905883 28.00000       2013-07-27
2905884 27.55556       2013-07-28
2905885 29.00000       2013-07-29
2905886 28.77778       2013-07-30
2905887 28.66667       2013-07-31

In [11]:
# dropeamos las columnas de fechas que ya no nos sirven
df <- df[, !names(df) %in% c("Year", "Day", "Month")]

In [12]:
# Country seleccionado
selected_country <- c('Mexico')


# Filtrar filas basadas en continentes y años seleccionados
rows_df <- df %>%
  filter(Country %in% selected_country)

rows_df

      Region        Country City        AvgTemperature date
1     North America Mexico  Guadalajara -72.77778      1995-01-01
2     North America Mexico  Guadalajara -72.77778      1995-01-02
3     North America Mexico  Guadalajara -72.77778      1995-01-03
4     North America Mexico  Guadalajara -72.77778      1995-01-04
5     North America Mexico  Guadalajara -72.77778      1995-01-05
6     North America Mexico  Guadalajara  14.55556      1995-01-06
7     North America Mexico  Guadalajara -72.77778      1995-01-07
8     North America Mexico  Guadalajara -72.77778      1995-01-08
9     North America Mexico  Guadalajara  15.83333      1995-01-09
10    North America Mexico  Guadalajara  21.00000      1995-01-10
11    North America Mexico  Guadalajara  17.88889      1995-01-11
12    North America Mexico  Guadalajara  16.61111      1995-01-12
13    North America Mexico  Guadalajara  16.22222      1995-01-13
14    North America Mexico  Guadalajara -72.77778      1995-01-14
15    North America Mexico  Guadalajara -72.77778      1995-01-15
16    North America Mexico  Guadalajara  16.61111      1995-01-16
17    North America Mexico  Guadalajara  16.22222      1995-01-17
18    North America Mexico  Guadalajara  13.11111      1995-01-18
19    North America Mexico  Guadalajara  16.50000      1995-01-19
20    North America Mexico  Guadalajara  17.27778      1995-01-20
21    North America Mexico  Guadalajara -72.77778      1995-01-21
22    North America Mexico  Guadalajara -72.77778      1995-01-22
23    North America Mexico  Guadalajara  14.11111      1995-01-23
24    North America Mexico  Guadalajara  18.16667      1995-01-24
25    North America Mexico  Guadalajara -72.77778      1995-01-25
26    North America Mexico  Guadalajara  17.83333      1995-01-26
27    North America Mexico  Guadalajara -72.77778      1995-01-27
28    North America Mexico  Guadalajara -72.77778      1995-01-28
29    North America Mexico  Guadalajara -72.77778      1995-01-29
30    North America Mexico  Guadalajara -72.77778      1995-01-30
...   ...           ...     ...         ...            ...
27041 North America Mexico  Monterrey   26.55556       2020-04-13
27042 North America Mexico  Monterrey   19.16667       2020-04-14
27043 North America Mexico  Monterrey   14.27778       2020-04-15
27044 North America Mexico  Monterrey   15.33333       2020-04-16
27045 North America Mexico  Monterrey   20.72222       2020-04-17
27046 North America Mexico  Monterrey   24.94444       2020-04-18
27047 North America Mexico  Monterrey   29.16667       2020-04-19
27048 North America Mexico  Monterrey   29.44444       2020-04-20
27049 North America Mexico  Monterrey   27.77778       2020-04-21
27050 North America Mexico  Monterrey   29.27778       2020-04-22
27051 North America Mexico  Monterrey   30.05556       2020-04-23
27052 North America Mexico  Monterrey   30.44444       2020-04-24
27053 North America Mexico  Monterrey   28.83333       2020-04-25
27054 North America Mexico  Monterrey   22.16667       2020-04-26
27055 North America Mexico  Monterrey   24.11111       2020-04-27
27056 North America Mexico  Monterrey   27.55556       2020-04-28
27057 North America Mexico  Monterrey   28.83333       2020-04-29
27058 North America Mexico  Monterrey   25.33333       2020-04-30
27059 North America Mexico  Monterrey   26.33333       2020-05-01
27060 North America Mexico  Monterrey   28.00000       2020-05-02
27061 North America Mexico  Monterrey   29.22222       2020-05-03
27062 North America Mexico  Monterrey   29.83333       2020-05-04
27063 North America Mexico  Monterrey   30.33333       2020-05-05
27064 North America Mexico  Monterrey   26.83333       2020-05-06
27065 North America Mexico  Monterrey   26.22222       2020-05-07
27066 North America Mexico  Monterrey   27.55556       2020-05-08
27067 North America Mexico  Monterrey   21.61111       2020-05-09
27068 North America Mexico  Monterrey   20.88889       2020-05-10
27069 North America Mexico  Monterrey   23.88889       2020-05-11
27070 North America Mexico  Monterrey   24.88889       2020-05-12

In [13]:
rows_city_count <- table(rows_df$City)
rows_city_count

Guadalajara Mexico City   Monterrey
       8540        9265        9265

In [14]:
# Eliminar todas las filas que contienen la ciudad de Guadalajara
rows_df <- rows_df %>%
  filter(City == "Mexico City")

rows_df = rows_df %>% select(City, AvgTemperature, date)
rows_df$City = as.factor(rows_df$City)

In [15]:
rows_df

     City        AvgTemperature date
1    Mexico City 14.27778       1995-01-01
2    Mexico City 13.38889       1995-01-02
3    Mexico City 14.22222       1995-01-03
4    Mexico City 14.05556       1995-01-04
5    Mexico City 14.88889       1995-01-05
6    Mexico City 16.77778       1995-01-06
7    Mexico City 15.00000       1995-01-07
8    Mexico City 14.44444       1995-01-08
9    Mexico City 14.50000       1995-01-09
10   Mexico City 14.33333       1995-01-10
11   Mexico City 14.88889       1995-01-11
12   Mexico City 14.94444       1995-01-12
13   Mexico City 16.05556       1995-01-13
14   Mexico City 13.66667       1995-01-14
15   Mexico City 13.16667       1995-01-15
16   Mexico City 13.50000       1995-01-16
17   Mexico City 14.88889       1995-01-17
18   Mexico City 14.22222       1995-01-18
19   Mexico City 13.44444       1995-01-19
20   Mexico City 14.11111       1995-01-20
21   Mexico City 14.50000       1995-01-21
22   Mexico City 15.11111       1995-01-22
23   Mexico City 14.22222       1995-01-23
24   Mexico City 13.66667       1995-01-24
25   Mexico City 12.83333       1995-01-25
26   Mexico City 12.88889       1995-01-26
27   Mexico City 13.50000       1995-01-27
28   Mexico City 15.44444       1995-01-28
29   Mexico City 16.44444       1995-01-29
30   Mexico City 14.38889       1995-01-30
...  ...         ...            ...
9236 Mexico City 22.05556       2020-04-13
9237 Mexico City 22.22222       2020-04-14
9238 Mexico City 22.05556       2020-04-15
9239 Mexico City 22.72222       2020-04-16
9240 Mexico City 22.05556       2020-04-17
9241 Mexico City 22.11111       2020-04-18
9242 Mexico City 21.72222       2020-04-19
9243 Mexico City 23.05556       2020-04-20
9244 Mexico City 22.88889       2020-04-21
9245 Mexico City 20.61111       2020-04-22
9246 Mexico City 22.38889       2020-04-23
9247 Mexico City 22.00000       2020-04-24
9248 Mexico City 20.16667       2020-04-25
9249 Mexico City 19.77778       2020-04-26
9250 Mexico City 19.61111       2020-04-27
9251 Mexico City 21.50000       2020-04-28
9252 Mexico City 19.88889       2020-04-29
9253 Mexico City 18.22222       2020-04-30
9254 Mexico City 15.94444       2020-05-01
9255 Mexico City 17.50000       2020-05-02
9256 Mexico City 20.11111       2020-05-03
9257 Mexico City 21.61111       2020-05-04
9258 Mexico City 22.27778       2020-05-05
9259 Mexico City 17.72222       2020-05-06
9260 Mexico City 16.38889       2020-05-07
9261 Mexico City 17.61111       2020-05-08
9262 Mexico City 18.66667       2020-05-09
9263 Mexico City 17.55556       2020-05-10
9264 Mexico City 17.11111       2020-05-11
9265 Mexico City 19.22222       2020-05-12

In [16]:
duplicates(rows_df)

Using `date` as index variable.

  City        AvgTemperature date
1 Mexico City  16.83333      2015-12-30
2 Mexico City -72.77778      2015-12-30

In [17]:
rows_df = rows_df %>% filter(!(date == "2015-12-30" & round(AvgTemperature) == -73))

In [23]:
year_counts <- table(rows_df$AvgTemperature)
year_counts

-72.7777777777778  6.11111111111111  6.55555555555555  7.11111111111111
               34                 1                 1                 1
 7.55555555555556  7.72222222222222                 8  8.22222222222222
                1                 1                 3                 1
 8.27777777777778  8.33333333333333  8.38888888888889               8.5
                1                 1                 3                 2
 8.55555555555556  8.61111111111111  8.66666666666667  8.88888888888889
                1                 2                 2                 2
 8.94444444444444                 9  9.05555555555555  9.11111111111111
                2                 1                 1                 1
 9.33333333333333  9.38888888888889  9.44444444444444               9.5
                2                 5                 3                 5
 9.55555555555556  9.61111111111111  9.66666666666667  9.72222222222222
                3                 5                 3                 7
 9.77777777777778  9.88888888888889  9.94444444444444                10
                6                 3                 8                 2
 10.0555555555556  10.1111111111111  10.1666666666667  10.2222222222222
                5                 4                 4                 2
 10.2777777777778  10.3333333333333  10.3888888888889  10.4444444444444
                5                 1                 5                 3
             10.5  10.5555555555556  10.6111111111111  10.6666666666667
                5                 8                 3                 1
 10.7222222222222  10.7777777777778  10.8333333333333  10.8888888888889
                8                 4                 5                13
 10.9444444444444                11  11.0555555555556  11.1111111111111
               10                 3                 7                 8
 11.1666666666667  11.2222222222222  11.2777777777778  11.3333333333333
                5                 8                12                 9
 11.3888888888889  11.4444444444444              11.5  11.5555555555556
               17                 8                21                 9
 11.6111111111111  11.6666666666667  11.7222222222222  11.7777777777778
               12                10                18                10
 11.8333333333333  11.8888888888889  11.9444444444444                12
                9                15                11                 9
 12.0555555555556  12.1111111111111  12.1666666666667  12.2222222222222
                7                16                12                12
 12.2777777777778  12.3333333333333  12.3888888888889  12.4444444444444
               19                11                19                23
             12.5  12.5555555555556  12.6111111111111  12.6666666666667
               15                12                16                20
 12.7222222222222  12.7777777777778  12.8333333333333  12.8888888888889
               28                20                15                29
 12.9444444444444                13  13.0555555555556  13.1111111111111
               27                15                24                23
 13.1666666666667  13.2222222222222  13.2777777777778  13.3333333333333
               23                26                29                14
 13.3888888888889  13.4444444444444              13.5  13.5555555555556
               26                31                23                32
 13.6111111111111  13.6666666666667  13.7222222222222  13.7777777777778
               45                18                29                44
 13.8333333333333  13.8888888888889  13.9444444444444                14
               21                29                25                25
 14.0555555555556  14.1111111111111  14.1666666666667  14.2222222222222
               29                36                22                27
 14.2777777777778  14.3333333333333  14.3888888888889  14.4444444444444
               33                36                29                34
             14.5  14.5555555555556  14.6111111111111  14.6666666666667
               31                35                41                27
 14.7222222222222  14.7777777777778  14.8333333333333  14.8888888888889
               48                38                38                50
 14.9444444444444                15  15.0555555555556  15.1111111111111
               45                31                54                76
 15.1666666666667  15.2222222222222  15.2777777777778  15.3333333333333
               35                47                62                41
 15.3888888888889  15.4444444444444              15.5  15.5555555555556
               58                57                64                44
 15.6111111111111  15.6666666666667  15.7222222222222  15.7777777777778
               62                42                52                60
 15.8333333333333  15.8888888888889  15.9444444444444                16
               47                61                84                49
 16.0555555555556  16.1111111111111  16.1666666666667  16.2222222222222
               60                75                63                79
 16.2777777777778  16.3333333333333  16.3888888888889  16.4444444444444
               88                65                82                90
             16.5  16.5555555555556  16.6111111111111  16.6666666666667
               97                83               106                62
 16.7222222222222  16.7777777777778  16.8333333333333  16.8888888888889
               93                94                84               106
 16.9444444444444                17  17.0555555555556  17.1111111111111
              104                64               101               127
 17.1666666666667  17.2222222222222  17.2777777777778  17.3333333333333
               77                91               111                78
 17.3888888888889  17.4444444444444              17.5  17.5555555555556
               92                89                97               103
 17.6111111111111  17.6666666666667  17.7222222222222  17.7777777777778
              119                64                88               113
 17.8333333333333  17.8888888888889  17.9444444444444                18
               85               138                74                67
 18.0555555555556  18.1111111111111  18.1666666666667  18.2222222222222
              100               126                63                86
 18.2777777777778  18.3333333333333  18.3888888888889  18.4444444444444
               80                68                83                99
             18.5  18.5555555555556  18.6111111111111  18.6666666666667
               79                75                89                47
 18.7222222222222  18.7777777777778  18.8333333333333  18.8888888888889
               74                78                59                76
 18.9444444444444                19  19.0555555555556  19.1111111111111
               76                51                75                62
 19.1666666666667  19.2222222222222  19.2777777777778  19.3333333333333
               56                53                67                38
 19.3888888888889  19.4444444444444              19.5  19.5555555555556
               45                40                36                38
 19.6111111111111  19.6666666666667  19.7222222222222  19.7777777777778
               43                34                55                29
 19.8333333333333  19.8888888888889  19.9444444444444                20
               20                43                36                26
 20.0555555555556  20.1111111111111  20.1666666666667  20.2222222222222
               33                40                28                42
 20.2777777777778  20.3333333333333  20.3888888888889  20.4444444444444
               36                24                32                30
             20.5  20.5555555555556  20.6111111111111  20.6666666666667
               21                26                34                19
 20.7222222222222  20.7777777777778  20.8333333333333  20.8888888888889
               32                25                18                20
 20.9444444444444                21  21.0555555555556  21.1111111111111
               27                21                19                18
 21.1666666666667  21.2222222222222  21.2777777777778  21.3333333333333
               11                17                17                 9
 21.3888888888889  21.4444444444444              21.5  21.5555555555556
               17                24                19                16
 21.6111111111111  21.6666666666667  21.7222222222222  21.7777777777778
               17                12                19                16
 21.8333333333333  21.8888888888889  21.9444444444444                22
               11                13                14                 7
 22.0555555555556  22.1111111111111  22.1666666666667  22.2222222222222
               14                24                10                 7
 22.2777777777778  22.3333333333333  22.3888888888889  22.4444444444444
               19                 8                10                13
             22.5  22.5555555555556  22.6111111111111  22.6666666666667
                5                 4                 5                 2
 22.7222222222222  22.7777777777778  22.8333333333333  22.8888888888889
               12                 6                 6                 6
 22.9444444444444                23  23.0555555555556  23.1111111111111
                7                 2                12                 9
 23.1666666666667  23.2222222222222  23.2777777777778  23.3333333333333
                2                 2                 5                 2
 23.3888888888889  23.4444444444444              23.5  23.5555555555556
                2                 4                 4                 5
 23.6111111111111  23.7222222222222  23.7777777777778  23.8333333333333
                5                 3                 1                 2
 23.8888888888889  23.9444444444444                24  24.0555555555556
                7                 1                 2                 1
 24.2222222222222  24.3333333333333  24.3888888888889  24.4444444444444
                2                 1                 1                 1
             24.5  24.6111111111111                25
                1                 1                 1

In [22]:
rows_df$AvgTemperature <- replace(rows_df$AvgTemperature, round(rows_df$AvgTemperature, 10) == -72.7777777777778, NA)

In [20]:
rows_df

     City        AvgTemperature date
1    Mexico City 14.27778       1995-01-01
2    Mexico City 13.38889       1995-01-02
3    Mexico City 14.22222       1995-01-03
4    Mexico City 14.05556       1995-01-04
5    Mexico City 14.88889       1995-01-05
6    Mexico City 16.77778       1995-01-06
7    Mexico City 15.00000       1995-01-07
8    Mexico City 14.44444       1995-01-08
9    Mexico City 14.50000       1995-01-09
10   Mexico City 14.33333       1995-01-10
11   Mexico City 14.88889       1995-01-11
12   Mexico City 14.94444       1995-01-12
13   Mexico City 16.05556       1995-01-13
14   Mexico City 13.66667       1995-01-14
15   Mexico City 13.16667       1995-01-15
16   Mexico City 13.50000       1995-01-16
17   Mexico City 14.88889       1995-01-17
18   Mexico City 14.22222       1995-01-18
19   Mexico City 13.44444       1995-01-19
20   Mexico City 14.11111       1995-01-20
21   Mexico City 14.50000       1995-01-21
22   Mexico City 15.11111       1995-01-22
23   Mexico City 14.22222       1995-01-23
24   Mexico City 13.66667       1995-01-24
25   Mexico City 12.83333       1995-01-25
26   Mexico City 12.88889       1995-01-26
27   Mexico City 13.50000       1995-01-27
28   Mexico City 15.44444       1995-01-28
29   Mexico City 16.44444       1995-01-29
30   Mexico City 14.38889       1995-01-30
...  ...         ...            ...
9235 Mexico City 22.05556       2020-04-13
9236 Mexico City 22.22222       2020-04-14
9237 Mexico City 22.05556       2020-04-15
9238 Mexico City 22.72222       2020-04-16
9239 Mexico City 22.05556       2020-04-17
9240 Mexico City 22.11111       2020-04-18
9241 Mexico City 21.72222       2020-04-19
9242 Mexico City 23.05556       2020-04-20
9243 Mexico City 22.88889       2020-04-21
9244 Mexico City 20.61111       2020-04-22
9245 Mexico City 22.38889       2020-04-23
9246 Mexico City 22.00000       2020-04-24
9247 Mexico City 20.16667       2020-04-25
9248 Mexico City 19.77778       2020-04-26
9249 Mexico City 19.61111       2020-04-27
9250 Mexico City 21.50000       2020-04-28
9251 Mexico City 19.88889       2020-04-29
9252 Mexico City 18.22222       2020-04-30
9253 Mexico City 15.94444       2020-05-01
9254 Mexico City 17.50000       2020-05-02
9255 Mexico City 20.11111       2020-05-03
9256 Mexico City 21.61111       2020-05-04
9257 Mexico City 22.27778       2020-05-05
9258 Mexico City 17.72222       2020-05-06
9259 Mexico City 16.38889       2020-05-07
9260 Mexico City 17.61111       2020-05-08
9261 Mexico City 18.66667       2020-05-09
9262 Mexico City 17.55556       2020-05-10
9263 Mexico City 17.11111       2020-05-11
9264 Mexico City 19.22222       2020-05-12

In [24]:
rows_df = as_tsibble(rows_df, index = date, regular = TRUE)

### Time Plot

In [25]:
library(ggplot2)
library(feasts)
feasts::autoplot(rows_df) + ggtitle('Temperatura por día') + ylab('Temperatura') + xlab('Fecha')

ERROR: Error in `feasts::autoplot()`:
! Could not automatically identify an appropriate plot variable, please specify the variable to plot.

### Autocorrelación

In [30]:
tsibble::fill_gaps()

ERROR: Error in UseMethod("fill_gaps"): no applicable method for 'fill_gaps' applied to an object of class "NULL"

In [29]:
rows_df %>% ACF(AvgTemperature, lag_max = 12)

ERROR: Error in `check_gaps()`:
! .data contains implicit gaps in time. You should check your data and convert implicit gaps into explicit missing values using `tsibble::fill_gaps()` if required.